<section
id="contacto"
class="contact-section"
>


<div class="contact-background">


<img
src=".\assets\hero\janerdent-hero-desktop.webp"
alt="Clínica dental"
>


</div>



<div class="overlay"></div>





<div class="contact-container">



<div class="contact-content">


<p class="label">

<span></span>

AGENDA TU CITA

</p>




<h2>

Un cuidado
<br>
profesional.

</h2>




<p class="description">

Pacientes que confían en nosotros
y hoy sonríen con más seguridad.

</p>





<a

class="whatsapp"

[href]="'https://wa.me/' + whatsapp"

target="_blank"

>


Agendar por WhatsApp

<span>

→

</span>


</a>




</div>





<div class="contact-number">


<p>

CONTACTO

</p>


<strong>

996 104 6096

</strong>


<span>

JD JANERDent

</span>


</div>



</div>



</section>