<section
#aboutSection
id="nosotros"
class="about-section"
>


<div class="about-container">



<!-- IMAGE -->

<div class="about-image">


<img
src="https://images.unsplash.com/photo-1629909613654-28e377c37b09?auto=format&fit=crop&w=900&q=80"
alt="Doctor odontólogo profesional"
>


<div class="experience">

<span>
JD
</span>

<p>
Odontología
Integral
</p>

</div>


</div>





<!-- CONTENT -->


<div class="about-content">


<p class="label">

<span></span>

SOBRE NOSOTROS

</p>




<h2>

Profesionalismo
que transforma
sonrisas.

</h2>




<h3>

Dr. Raúl Alberto Gomez Pech

</h3>



<p class="profession">

Cirujano Dentista
<br>
Céd. Prof. 15507422

</p>




<p class="description">

Mi compromiso es atender a cada paciente con profesionalismo,
respeto y confianza, procurando siempre brindar una atención
odontológica de calidad.

</p>





<div class="indicators">


@for(item of indicators; track item.title){


<div class="indicator">


<h4>

{{item.title}}

</h4>


<p>

{{item.text}}

</p>


</div>


}



</div>




</div>



</div>



</section>