<nav
  class="navbar"
  [class.navbar-scrolled]="scrolled()"
>
  <div class="navbar-container">

    <!-- LOGO -->
    <a
      href="#inicio"
      class="logo"
      (click)="closeMenu()"
      aria-label="JANERDent - Inicio"
    >
      <img
        src="/assets/hero/janerdent-logo.webp"
        alt="JANERDent Odontología Integral"
      >
    </a>


    <!-- DESKTOP MENU -->
    <ul class="desktop-menu">

      @for (item of navItems; track item.name) {

        <li>
          <a
            [href]="item.link"
            (click)="closeMenu()"
          >
            {{ item.name }}
          </a>
        </li>

      }

    </ul>


    <!-- CTA -->
    <a
      href="#contacto"
      class="appointment"
    >
      Agendar cita
      <span>→</span>
    </a>


    <!-- MOBILE BUTTON -->
    <button
      class="menu-button"
      (click)="toggleMenu()"
      [attr.aria-expanded]="menuOpen()"
      aria-label="Abrir menú"
    >

      <span [class.active]="menuOpen()"></span>
      <span [class.active]="menuOpen()"></span>

    </button>

  </div>


  <!-- MOBILE MENU -->

  @if (menuOpen()) {

    <div class="mobile-menu">

      @for (item of navItems; track item.name) {

        <a
          [href]="item.link"
          (click)="closeMenu()"
        >
          {{ item.name }}
        </a>

      }


      <a
        href="#contacto"
        class="mobile-button"
        (click)="closeMenu()"
      >
        Agendar cita →
      </a>

    </div>

  }

</nav>