:host{

display:block;

}




.footer-section{


background:#ffffff;


color:#24221e;


padding:

80px 5% 30px;


border-top:

1px solid #eee6d8;


}






.footer-container{


max-width:1200px;


margin:auto;


display:grid;


grid-template-columns:

1.6fr .8fr .8fr;


gap:70px;


align-items:start;


}







/* LOGO */


.footer-brand{


max-width:350px;


}



.footer-logo{


width:150px;


height:auto;


object-fit:contain;


margin-bottom:25px;


}






.footer-description{


font-size:14px;


line-height:1.8;


color:#777;


max-width:320px;


}







/* COLUMNAS */


.footer-column{


display:flex;


flex-direction:column;


gap:14px;


}




.footer-column h3{


margin:0 0 15px;


font-size:11px;


font-weight:500;


letter-spacing:.22em;


text-transform:uppercase;


color:#B98A3C;


}






.footer-column a{


text-decoration:none;


font-size:14px;


color:#555;


transition:.3s ease;


}




.footer-column a:hover{


color:#B98A3C;


transform:translateX(4px);


}





.footer-column strong{


margin-top:15px;


font-size:22px;


font-weight:300;


letter-spacing:-.02em;


color:#24221e;


}









/* BOTTOM */


.footer-bottom{


max-width:1200px;


margin:

60px auto 0;


}






.footer-line{


height:1px;


background:#e8dfd2;


margin-bottom:25px;


}







.footer-bottom-content{


display:flex;


justify-content:space-between;


align-items:center;


gap:20px;


}




.footer-bottom p{


margin:0;


font-size:12px;


color:#777;


}







.legal-links{


display:flex;


gap:25px;


flex-wrap:wrap;


}



.legal-links a{


font-size:12px;


text-decoration:none;


color:#777;


transition:.3s;


}



.legal-links a:hover{


color:#B98A3C;


}









/* TABLET */


@media(max-width:900px){


.footer-container{


grid-template-columns:1fr;


gap:40px;


}




.footer-bottom-content{


flex-direction:column;


align-items:flex-start;


}



}









/* MOBILE */


@media(max-width:600px){



.footer-section{


padding:

60px 25px 30px;


}




.footer-logo{


width:130px;


}



.legal-links{


flex-direction:column;


gap:12px;


}



}