<footer class="footer-section">


  <div class="footer-container">


    <!-- LOGO -->

    <div class="footer-brand">


      <img

      src="/assets/hero/janerdent-logo.webp"

      alt="JANERDent"

      >


    </div>




    <div class="footer-line"></div>






    <!-- INFORMACION -->

    <div class="footer-grid">





      <div class="footer-item">


        <h3>
          CONTACTO
        </h3>


        <p>
          996 104 6096
        </p>


        <a
        href="https://wa.me/529961046096"
        target="_blank"
        >
        WhatsApp
        </a>


      </div>








      <div class="footer-item">


        <h3>
          DIRECCIÓN
        </h3>


        <p>

        Calle 29 s/n,
        San Antonio.

        <br>

        Hecelchakán,
        Campeche, México.

        </p>


      </div>








      <div class="footer-item">


        <h3>
          HORARIOS
        </h3>


        <p>

        Lunes - Viernes

        <br>

        8:30 a.m. - 1:00 p.m.

        <br>

        5:00 p.m. - 9:00 p.m.

        </p>


        <p>

        Sábado

        <br>

        9:00 a.m. - 1:00 p.m.

        </p>


      </div>








      <div class="footer-item">


        <h3>
          SÍGUENOS
        </h3>


        <div class="socials">


          <a

          href="https://wa.me/529961046096"

          target="_blank"

          >

          WhatsApp

          </a>





          <a

          href="https://www.facebook.com/profile.php?id=61589988690037"

          target="_blank"

          >

          Facebook

          </a>



        </div>



      </div>








      <div class="footer-item">


        <h3>
          LEGAL
        </h3>


        <a href="#">
        Aviso de privacidad
        </a>


        <a href="#">
        Términos y condiciones
        </a>


        <a href="#">
        Cookies
        </a>



      </div>





    </div>








    <div class="footer-bottom">


      <div></div>


      <p>

      © 2026 JANERDent · Hecelchakán, Campeche

      </p>



    </div>




  </div>



</footer>