<footer class="footer-section">


<div class="footer-container">



<div class="brand">


<div class="logo">

JD

</div>



<h2>

JANERDent

</h2>



<p>

ODONTOLOGÍA INTEGRAL

</p>



<span>

Cuidando sonrisas con profesionalismo,
confianza y calidad.

</span>


</div>






<div class="footer-links">


<h3>

Navegación

</h3>


@for(item of links; track item.name){


<a [href]="item.url">

{{item.name}}

</a>


}


</div>







<div class="footer-contact">


<h3>

Contacto

</h3>



<a href="https://wa.me/529961046096" target="_blank">

WhatsApp

</a>



<a href="#">

Facebook

</a>



<a href="#">

Instagram

</a>



<strong>

996 104 6096

</strong>



</div>





</div>







<div class="footer-bottom">


<div class="line"></div>


<p>

© 2024 Janer Dent. Todos los derechos reservados.

</p>



</div>



</footer>