<footer class="footer-section">


  <div class="footer-container">



    <!-- MARCA -->

    <div class="footer-brand">


      <img

      src="/assets/hero/janerdent-logo.webp"

      alt="JANERDent"

      class="footer-logo"

      >



      <p class="footer-description">

        Odontología integral con atención profesional,
        confianza y calidad para cuidar tu sonrisa.

      </p>



    </div>







    <!-- NAVEGACIÓN -->


    <div class="footer-column">


      <h3>
        Navegación
      </h3>



      @for(item of links; track item.name){


        <a

        [href]="item.url"

        >

        {{item.name}}

        </a>


      }



    </div>







    <!-- CONTACTO -->


    <div class="footer-column">


      <h3>
        Contacto
      </h3>




      <a

      href="https://wa.me/529961046096"

      target="_blank"

      >

      WhatsApp

      </a>




      <a

      href="https://www.facebook.com/profile.php?id=61589988690037"

      target="_blank"

      >

      Facebook

      </a>




      <strong>

      996 104 6096

      </strong>



    </div>






  </div>









  <!-- PARTE INFERIOR -->


  <div class="footer-bottom">



    <div class="footer-line"></div>




    <div class="footer-bottom-content">


      <p>

      © 2026 JANERDent · Hecelchakán, Campeche

      </p>





      <div class="legal-links">


        <a href="#">

        Aviso de privacidad

        </a>


        <a href="#">

        Términos y condiciones

        </a>



        <a href="#">

        Cookies

        </a>



      </div>




    </div>



  </div>





</footer>