:host{

display:block;

}





.footer-section{


background:#080808;

color:white;

padding:90px 5% 35px;


opacity:1;

transform:none;


}




.footer-container{


max-width:1400px;

margin:auto;


display:grid;

grid-template-columns:2fr 1fr 1fr;

gap:80px;


}





.brand{


.logo{


font-family:serif;

font-size:65px;

color:#C9A45C;

line-height:1;


}



h2{

font-size:35px;

font-weight:300;

margin:15px 0 5px;

letter-spacing:-1px;

}



p{

font-size:10px;

letter-spacing:5px;

color:#C9A45C;

}



span{

display:block;

margin-top:30px;

max-width:350px;

line-height:1.8;

color:#aaa;

font-size:14px;

}


}







.footer-links,
.footer-contact{


display:flex;

flex-direction:column;

gap:18px;


h3{


font-size:16px;

font-weight:400;

margin-bottom:15px;


}


a{


color:#aaa;

text-decoration:none;

font-size:14px;

transition:.3s;


&:hover{

color:#C9A45C;

}


}



strong{


margin-top:20px;

font-size:20px;

font-weight:300;

color:white;


}


}







.footer-bottom{


max-width:1400px;

margin:70px auto 0;


.line{


height:1px;

background:rgba(255,255,255,.15);

margin-bottom:30px;


}


p{


font-size:12px;

color:#777;

text-align:center;


}



}







@media(max-width:900px){


.footer-container{


grid-template-columns:1fr;

gap:45px;

}



.brand .logo{

font-size:55px;

}



.footer-bottom{

margin-top:50px;

}



}