<section
  id="inicio"
  class="hero"
>
  <!-- BACKGROUND IMAGE -->
  <div
    class="hero-image"
    [style.transform]="imageTransform"
  >
    <picture>
      <!-- Imagen para móvil -->
      <source
        media="(max-width: 900px)"
        srcset="/assets/hero/janerdent-hero-mobile.webp"
      >

      <!-- Imagen para desktop -->
      <img
        src="/assets/hero/janerdent-hero-desktop.webp"
        alt="Odontólogo atendiendo a un paciente"
        fetchpriority="high"
      >
    </picture>
  </div>

  <!-- DARK OVERLAY -->
  <div class="overlay"></div>

  <!-- HERO CONTENT -->
  <div
    class="hero-container"
    [style.transform]="textTransform"
    [style.opacity]="textOpacity"
  >
    <div class="hero-content">

      <h1>
        Sonrisas que
        <span>inspiran</span>
      </h1>

      <p class="description">
        Tratamientos dentales de alta calidad,
        con un enfoque profesional, humano
        y personalizado.
      </p>

      <div class="buttons">

        <a
          href="#contacto"
          class="primary"
        >
          Agendar cita
          <span>→</span>
        </a>

        <a
          href="#servicios"
          class="secondary"
        >
          Conocer servicios
          <span>○</span>
        </a>

      </div>

    </div>
  </div>
</section>