<section 
  id="inicio"
  class="hero"
>


  <!-- BACKGROUND IMAGE -->

  <div 
    class="hero-image"
    [style.transform]="imageTransform"
  >

    <img 
      src="https://images.unsplash.com/photo-1606811971618-4486d14f3f99?auto=format&fit=crop&w=2000&q=80"
      alt="Odontólogo atendiendo paciente"
    >

  </div>



  <!-- DARK OVERLAY -->

  <div class="overlay"></div>



  <div 
    class="hero-container"
    [style.transform]="textTransform"
    [style.opacity]="textOpacity"
  >


    <div class="hero-content">


      <p class="subtitle">

        <span></span>
        ODONTOLOGÍA INTEGRAL

      </p>



      <h1>

        Sonrisas que
        <span>
          inspiran
        </span>

      </h1>



      <p class="description">

        Tratamientos dentales de alta calidad,
        con un enfoque profesional, humano
        y personalizado.

      </p>




      <div class="buttons">


        <a 
          href="#contacto"
          class="primary"
        >

          Agendar cita
          <span>
            →
          </span>

        </a>



        <a 
          href="#servicios"
          class="secondary"
        >

          Conocer servicios

          <span>
            ○
          </span>

        </a>


      </div>





      <div class="progress">


        <span>
          01
        </span>


        <span>
          /
        </span>


        <span>
          04
        </span>


        <div class="line">

          <span></span>

        </div>


      </div>



    </div>






    <!-- SIDE INFO -->


    <div class="hero-info">


      <p>

        Tecnología,
        experiencia y un trato
        cercano para cuidar
        lo más importante:

        <strong>
          tu sonrisa.
        </strong>

      </p>



      <div class="scroll-circle">

        ↓

      </div>


    </div>




  </div>



</section>